<template>
  <div class="content">
    <div class="header">
      <div class="header-helper">
        <Header @choose="chooseDate"></Header>
      </div>
    </div>
    <div class="loading" v-show="!isLoaded">
      <RingLoader
        class="loading-icon"
        color="#549df2"
        duration=".8s"
        v-show="!isLoaded && internet"
      />
      <img
        class="error-icon"
        v-show="!internet"
        :src="require('@/assets/internet.png')"
      />
    </div>
    <div class="items">
      <div class="items-helper" v-show="isLoaded">
        <MovieBox
          v-for="movie of movies"
          :key="movie.id"
          :movie-content="movie"
        ></MovieBox>
      </div>
    </div>
    <div class="footer">
      <div class="page-btns" v-show="isLoaded">
        <div
          :class="['page-btn', page == '1' ? 'disable-btn' : 'footer']"
          id="prevBtn"
          @click="page > 1 ? prevPage() : ''"
        >
          Previous Page
        </div>
        <div class="line"></div>
        <div
          :class="['page-btn', page == '1000' ? 'disable-btn' : '']"
          id="nextBtn"
          @click="page < 500 ? nextPage() : ''"
        >
          Next Page
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header.vue";
import MovieBox from "../components/MovieBox.vue";
import axios from "../Xhr.js";
import setting from "../setting.js";

export default {
  name: "Home",
  data() {
    return {
      movies: null,
      genres: null,
      page: 1,
      isLoaded: false,
      internet: true,
      selectedDate: ["", ""],
    };
  },
  components: {
    Header,
    MovieBox,
  },
  mounted() {
    if (this.$route.params.page) {
      this.page = this.$route.params.page;
    }
    let vm = this;
    axios
      .get(setting.apiUrl + "genre/movie/list", {
        params: { api_key: "f62f750b70a8ef11dad44670cfb6aa57" },
      })
      .then(function (res) {
        vm.genres = res.data.genres;
        vm.getMovie();
      })
      .catch(function () {
        vm.internet = false;
      });
  },
  methods: {
    getMovie() {
      let vm = this;
      axios
        .get(setting.apiUrl + "discover/movie", {
          params: {
            api_key: "f62f750b70a8ef11dad44670cfb6aa57",
            page: vm.page,
            'release_date.gte': vm.selectedDate[0],
            'release_date.lte': vm.selectedDate[1]
          },
        })
        .then(function (res) {
          vm.movies = res.data.results;
          vm.isLoaded = true;
        })
        .catch(function () {
          vm.internet = false;
        });
    },
    prevPage() {
      this.page--;
      this.movies = null;
      this.isLoaded = false;
      this.getMovie();
    },
    nextPage() {
      this.page++;
      this.movies = null;
      this.isLoaded = false;
      this.getMovie();
    },
    chooseDate(d) {
      this.selectedDate = d;
      this.getMovie();
    },
  },
};
</script>

<style lang="scss" scoped>
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  .header-helper {
    width: 80%;
  }
}

.items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .items-helper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.loading {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-icon {
    height: 150px !important;
    width: 150px !important;
  }
  .error-icon {
    height: 400px;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  .page-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    .line {
      height: 50px;
      width: 2px;
      background-color: #6a6a6a;
    }

    .page-btn {
      padding: 0 20px;
      cursor: pointer;
      user-select: none;
      font-weight: bold;
      color: #858585;
    }
    #prevBtn:hover {
      color: yellow;
    }
    #nextBtn:hover {
      color: #318fe7;
    }

    .disable-btn {
      cursor: not-allowed;
      &:hover {
        color: #858585 !important;
      }
    }
  }
}
</style>
