<template>
  <div class="content">
    <div class="header">
      <div class="header-helper">
        <div class="back-button">
          <div class="back-button-icon">
            <svg
              width="14"
              height="12"
              viewBox="0 0 14 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13 5.33331L2.60929 5.33331L6.18529 1.75731C6.44562 1.49698 6.44562 1.07481 6.18546 0.814648C5.92512 0.554315 5.50279 0.554315 5.24246 0.814648L0.528624 5.52865C0.497623 5.55965 0.469958 5.59381 0.445625 5.63015C0.434459 5.64698 0.426624 5.66515 0.416958 5.68265C0.405957 5.70331 0.393291 5.72298 0.384458 5.74481C0.374958 5.76731 0.369625 5.79065 0.362958 5.81398C0.357458 5.83248 0.350291 5.85015 0.346458 5.86915C0.337791 5.91248 0.333291 5.95615 0.333291 5.99998C0.333291 6.00048 0.333458 6.00098 0.333458 6.00148C0.333624 6.04465 0.337958 6.08798 0.346458 6.13048C0.350458 6.15048 0.357958 6.16898 0.363791 6.18865C0.370291 6.21081 0.375291 6.23331 0.384291 6.25481C0.393958 6.27798 0.406958 6.29898 0.418958 6.32081C0.427958 6.33715 0.435123 6.35381 0.445457 6.36948C0.46979 6.40631 0.497791 6.44065 0.528958 6.47181L5.24263 11.1853C5.50296 11.4456 5.92512 11.4456 6.18546 11.1855C6.44579 10.9251 6.44579 10.503 6.18546 10.2425L2.60946 6.66665L13 6.66665C13.3681 6.66665 13.6666 6.36815 13.6666 5.99998C13.6666 5.63181 13.3681 5.33331 13 5.33331Z"
                fill="white"
              />
            </svg>
          </div>
          <div
            class="back-button-text"
            @click="
              $router.push({
                name: 'home',
                params: { page: $route.params.page },
              })
            "
          >
            Back
          </div>
        </div>

        <div class="movie-name">
          <div class="name">{{ name }}</div>
          <div class="version">{{ version }}</div>
        </div>
      </div>
    </div>
    <div class="loading" v-show="!movieLoaded">
      <RingLoader
        class="loading-icon"
        color="#549df2"
        duration=".8s"
        v-show="!movieLoaded && internet"
      />
      <img
        class="error-icon"
        v-show="!internet"
        :src="require('@/assets/internet.png')"
      />
    </div>
    <div class="main" v-show="movieLoaded">
      <div class="poster">
        <RingLoader
          class="loading-icon"
          color="#549df2"
          duration=".8s"
          v-show="!imageLoaded"
        />
        <img class="img" :src="imageUrl" @load="onImgLoad" />
      </div>
      <div class="information">
        <div class="info-row">
          <div class="info-row-title">Budget</div>
          <div class="info-row-content" >{{ movie ? format(movie.budget) : ''}}</div>
        </div>
        <div class="info-row">
          <div class="info-row-title">Revenue</div>
          <div class="info-row-content">{{ movie ?format(movie.revenue) : ''}}</div>
        </div>
        <div class="info-row">
          <div class="info-row-title">Release Date</div>
          <div class="info-row-content">{{ movie ? movie.release_date : ''}}</div>
        </div>
        <div class="info-row">
          <div class="info-row-title">Runtime</div>
          <div class="info-row-content">{{ movie ? movie.runtime : ''}}</div>
        </div>
        <div class="info-row">
          <div class="info-row-title">Score</div>
          <div class="info-row-content">
            {{ movie ? movie.vote_average : '' }} ({{ movie ? movie.vote_count : ''}} votes)
          </div>
        </div>
        
        <div class="info-row" v-if="movie">
          <div class="info-row-title">Genres</div>
          <div class="info-row-content">
            <div class="genre" v-for="g of movie.genres" :key="g.id">
              {{ g.name }},
            </div>
          </div>
        </div>

        <div class="info-row">
          <div class="info-row-title">IMBD Link</div>
          <div class="info-row-content">
            <a :href="ibdmLink" target="_blank">Link</a>
          </div>
        </div>
        <div class="info-row">
          <div class="info-row-title">Home Page</div>
          <div
            class="info-row-content btn-content"
            @click="
              $router.push({
                name: 'home',
                params: { page: $route.params.page },
              })
            "
          >
            Link
          </div>
        </div>
      </div>
    </div>
    <div class="description">
      {{ movie ? movie.overview : '' }}
    </div>
    <div class="credit" v-if="movie">
      <div class="credit-title">Credit :</div>
      <div class="credit-information">
        <div class="credit-cast" v-for="cast of casts" :key="cast.id">
          {{ cast.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import Header from "../components/Header.vue";
import axios from "../Xhr.js";
import setting from "../setting.js";

export default {
  name: "Movie",
  data() {
    return {
      movieLoaded: false,
      imageLoaded: false,
      internet: true,
      movie: null,
      imageUrl: null,
      ibdmLink: null,
      casts: null,
      name: null,
      version: null,
    };
  },

  mounted() {
    let vm = this;

    axios
      .get(setting.apiUrl + "movie/" + this.$route.params.movieId, {
        params: { api_key: "f62f750b70a8ef11dad44670cfb6aa57" },
      })
      .then(function (res) {
        vm.imageUrl = setting.imageUrl + "/original" + res.data.poster_path;
        vm.ibdmLink = "https://www.imdb.com/title/" + res.data.imdb_id;
        vm.name = res.data.title.split(":")[0];
        vm.version = res.data.title.split(":")[1];
        vm.movie = res.data;
        vm.movieLoaded = true;

        vm.getCredit();
      })
      .catch(function () {
        vm.internet = false;
      });
  },

  methods: {
    onImgLoad() {
      this.imageLoaded = true;
    },
    getCredit() {
      let vm = this;
      axios
        .get(
          setting.apiUrl + "movie/" + this.$route.params.movieId + "/credits",
          {
            params: { api_key: "f62f750b70a8ef11dad44670cfb6aa57" },
          }
        )
        .then(function (res) {
          vm.casts = res.data.cast;
        })
        .catch(function () {
          vm.internet = false;
        });
    },
    format(num) {
      var p = num.toFixed(2).split(".");
      return (
        "$" +
        p[0]
          .split("")
          .reverse()
          .reduce(function (acc, num, i) {
            return num + (num != "-" && i && !(i % 3) ? "," : "") + acc;
          }, "") +
        "." +
        p[1]
      );
    },
  },
};
</script>

<style lang="scss" scoped>
.loading {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading-icon {
    height: 150px !important;
    width: 150px !important;
  }
  .error-icon {
    height: 400px;
  }
}

.main {
  display: flex;
  width: 60%;
  margin-left: 20%;
  height: 600px;
}

.information {
  display: flex;
  height: 100%;
  flex: 2;
  flex-direction: column;
  padding-top: 5%;
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    .info-row-title {
      display: flex;
      flex: 1;
      font-weight: bold;
    }
    .info-row-content {
      display: flex;
      flex: 1;
      justify-content: end;

      .genre {
        display: inline-block;
        padding: 0 2px;
      }
    }

    .btn-content {
      cursor: pointer;
      text-decoration: underline;
      color: blue;
    }
  }
}

.poster {
  display: flex;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;

  .img {
    width: 90%;
    height: 90%;
    border-radius: 6px;
  }
}

.description {
  width: 60%;
  margin-left: 20%;
}

.credit {
  width: 60%;
  margin-left: 20%;
  margin-top: 50px;
  .credit-title {
    font-weight: bold;
    font-size: 18px;
  }
  .credit-information {
    .credit-cast {
      display: inline-block;
      padding: 2px 4px;
    }
  }
}

.header {
  width: 60%;
  margin-top: 40px;
  margin-left: 20%;
  height: 80px;
  background-color: rgba(226, 226, 226, 1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  .header-helper {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .back-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #549df2;
      padding: 5px 10px;
      border-radius: 100px;
      cursor: pointer;
      .back-button-text {
        color: #ffffff;
        padding: 0 4px;
      }
    }

    .movie-name {
      margin-left: 50px;
      .name {
        padding: 4px 10px;
        font-weight: bold;
      }
      .version {
        padding: 4px 10px;
      }
    }
  }
}
</style>
