<template>
  <div class="content">
    <div class="content-helper">
      <div class="title">Search by release date:</div>
      <Datepicker
        class="date-picker"
        lang="en"
        range
        v-model="selectedDate"
        @input="choose"
      />
      <div class="btn" v-show="selectedDate.length == 2" @click="clear()">
        Clear Date
      </div>
    </div>
  </div>
</template>

<script>
import "vue-datepicker-ui/lib/vuedatepickerui.css";
import VueDatepickerUi from "vue-datepicker-ui";

export default {
  name: "Header",
  components: {
    Datepicker: VueDatepickerUi,
  },
  data() {
    return {
      selectedDate: [],
    };
  },
  methods: {
    choose() {
      if (this.selectedDate.length == 2) {
        this.$emit("choose", this.selectedDate);
      }
    },
    clear() {
      this.selectedDate = [];
      this.$emit("choose", this.selectedDate);
    },
  },
};
</script>

<style lang="scss" scoped>
.content {
  width: 100%;
  height: 80px;
  background-color: rgba(226, 226, 226, 1);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  .content-helper {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .input {
      margin: 0 10px;
    }

    .btn {
      background: #549df2;
      border-radius: 100px;
      padding: 6px 10px;
      color: white;
      cursor: pointer;
      position: absolute;
      right: 20px;
    }

    .date-picker {
      margin-left: 15px;
    }
  }
}
</style>